@import 'src/styles/__all.scss';

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .MuiTypography-root {
    &.MuiTypography-body1 {
      margin-bottom: 15px;
      @include h3();
      font-weight: 600;
    }
    &.MuiTypography-body2 {
      @include h3-small();
      text-transform: uppercase;
    }
  }

  &__link {
    @include h3-small();
    text-decoration-line: underline;
  }
}

.address {
  @include h3-small();
  color: $OsloGray;
}

.social {
  margin-right: 60px;
  .MuiTypography-root {
    &.MuiTypography-body1 {
      margin-bottom: 30px;
      @include h3();
      font-weight: 600;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.legal-info {
  .safe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__link {
      @include h5();
      text-transform: lowercase;
      text-decoration-line: underline;
      color: $OsloGray;
    }
  }

  .legal {
    display: flex;
    column-gap: 40px;

    &__text {
      @include h5();
      text-transform: uppercase;
      color: $OsloGray;
    }
  }
}

.license {
  .address {
    margin-top: 25px;
  }
}